<!DOCTYPE html>
<html>
  <head>
    <title>Virtuoso</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <span class="p-2 text-dark"><%= link_to "Ваши инструменты", showinstruments_path %></span>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
